#navbar{
    background-color: #bf80ff;
}

#logo{
    width: 7cm;
}

#btn{
    text-align: center;
    margin-top: 3cm;
}

#btn1{
    color: #31035f;
    text-align: center;
    width: 5cm;
    background-color: aqua;
    border-color: rgb(2, 116, 116);
    border-radius: 40%;
    height: 1.4cm;
    border-style: solid;
}
