body{
    margin: 0;
    height: auto;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 900% 700%;
      animation: gradient 8s ease infinite;
}

html, body {
    overflow-x: hidden;
  }

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.9, 0.9);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
  } 
  100% {
    opacity: 1;
    transform: scale(var(--scale));
  }
}

@keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(20px);
  }
  80% {
     transform: translateY(-5px);
  }
  100% {
     transform: translateY(0);
  }
} 

@media (max-width: 600px) {
  .navbar {
    height: 80px;
  }

  .header {
    margin: 15px;
    font-size: 24px;
  }

  a {
    margin: 0 20px;
  }
}

#navbar{
    background-color: transparent;
}

#logo{
    width: 7cm;
}

#btn{
    text-align: center;
    margin-top: 3cm;
}

#btn1 {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  width: 5cm;
  margin-top: 1cm;
}

#btn1:before,
#btn1:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 100%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

#btn1:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

#btn1:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

#btn1:hover:before {
  width: 115%;
  height: 115%;
}