body{
    margin: 0;
    height: auto;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
}

html, body {
    overflow-x: hidden;
  }

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.9, 0.9);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
  } 
  100% {
    opacity: 0;
    transform: scale(var(--scale));
  }
}

@keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(20px);
  }
  80% {
     transform: translateY(-5px);
  }
  100% {
     transform: translateY(0);
  }
} 

@media (max-width: 600px) {
  .navbar {
    height: 80px;
  }

  .header {
    margin: 15px;
    font-size: 24px;
  }

  a {
    margin: 0 20px;
  }
}

#navbar{
    background-color: #bf80ff;
}

#logo{
    width: 7cm;
}

#btn{
    text-align: center;
    margin-top: 3cm;
}

#btn1{
    color: #31035f;
    text-align: center;
    width: 5cm;
    background-color: aqua;
    border-color: rgb(2, 116, 116);
    border-radius: 40%;
    height: 1.4cm;
    border-style: solid;
}
